version: '3.8'

services:
  postgres:
    image: postgres:18-alpine
    container_name: cinema-booking-db
    environment:
      POSTGRES_DB: cinema_booking
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
