<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Pełny Repertuar</title>
</head>
<body>

<div layout:fragment="content">

    <div class="pt-24 pb-10 bg-cinema-black text-center">
        <h1 class="text-4xl font-bold text-white font-serif">HARMONOGRAM SEANSÓW</h1>
    </div>

    <div th:replace="~{fragments/repertoire-block :: repertoire-module}"></div>

</div>
</body>
</html>